{{>header}}
{{>navbar}}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-signup-login">
          <h1>{{title}}</h1>
          <form action="/login" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn-signup-login">Login</button>
            <p class="title-signup">Don't have an account?</p>
        </form>
        <a href="/signup"><button class="btn-signup">Sign Up</button></a>
      </div>
    </div>
  </div>
</div>

{{>footer}}

